# Sort on institutions

In [84]:
# libraries
import pandas as pd
from itertools import chain
pd.options.mode.chained_assignment = None

# data load
df = pd.read_csv('kkorg_enheder_offentlig.csv', delimiter=';')

In [85]:
# find the rows where the column 'enhedstype' is 'Vuggestuer', 'Dagplejemødre', 'Børnehaver', 'Folkeskoler o.lign.', 'Aldersintegrerede institutioner'
filter_df = df[df['enhedstype'].isin(['Vuggestuer', 'Dagplejemødre', 'Børnehaver', 'Folkeskoler o.lign.', 'Aldersintegrerede institutioner'])]
filter_df['type_split'] = filter_df['type'].str.split(', ')
filter_df = filter_df.explode('type_split')
filter_df = filter_df[filter_df['type_split'].str.contains('Vuggestue|Dagpleje|Flerbørnsdagpleje|Børnehave|Distriktsskole')]
filter_df = filter_df.reset_index(drop=True)

filter_df.head(3)

,FID,id,kkorgnr,enhedsnavn,forvaltning,centernavn,enhedstype,ejerforhold,distrikt,koerorgnr,...,primaer,hemmelige,offentlig,lokationsnr,enhedsnr,cvr_branchekode,link_kkorg,ogc_fid,wkb_geometry,type_split
0,kkorg_enheder_offentlig.1,300,1885.0,Børnehuset Nørregro,BUF,Område Nørrebro/Bispebjerg,Aldersintegrerede institutioner,Selvejende,Nørrebro-Bispebjerg,35561.0,...,JA,No,JA,L3678,U458,889150.0,https://kkorg.kk.dk/tree-unit/5ba3c71876989e06...,1,MULTIPOINT ((12.563362570159033 55.69145305667...,Vuggestue
1,kkorg_enheder_offentlig.2,1098,1788.0,Christianshavns Skole,BUF,Område Indre By/Østerbro,Folkeskoler o.lign.,Kommunal,Indre By-Østerbro,31017.0,...,JA,No,JA,L2001,U629,852010.0,https://kkorg.kk.dk/tree-unit/5ba3c71b76989e06...,2,MULTIPOINT ((12.596374631334031 55.67429497524...,Distriktsskole
2,kkorg_enheder_offentlig.5,95,1794.0,Ministeriernes Børnehus,BUF,Område Indre By/Østerbro,Aldersintegrerede institutioner,Selvejende,Indre By-Østerbro,35236.0,...,JA,No,JA,L714,U622,889150.0,https://kkorg.kk.dk/tree-unit/5ba3c71b76989e06...,5,MULTIPOINT ((12.578122810728164 55.67292441872...,Vuggestue

In [86]:
# group filter_df by enhedsnavn and type_split and show the count of each group
grouped_df = filter_df.groupby(['enhedsnavn', 'type_split']).size().reset_index(name='count')

# group filter_df by enhedsnavn and type_split and keep only one row if the count is more than 1
grouped_df[grouped_df['count'] > 1]

                                enhedsnavn      type_split  count
4                             7-Springeren       Børnehave      2
28                   Arena Skole og Fritid  Distriktsskole      2
31   Artillerivejens Krudtugler og Slottet       Børnehave      2
32   Artillerivejens Krudtugler og Slottet       Vuggestue      2
36                        Barndommens Gade       Vuggestue      2
..                                     ...             ...    ...
666                           Ålholm Skole  Distriktsskole      2
670                               Ønskeøen       Børnehave      3
671                               Ønskeøen       Vuggestue      2
672                          Ørestad Skole  Distriktsskole      3
678                   Østerfælled Børnehus       Børnehave      2

[130 rows x 3 columns]

make sure that the filter_df only contains 1 count for the grouped data